__pycache__
*.pyc
*.pyo
*.pyd
.venv
venv
env
.env
.git
.github
Dockerfile
.dockerignore
docs
artifacts
*.pth
*.pkl
train_pneu_balanced.csv
!pneumonia_final_ultra.pth
!symptom_model_refined.pkl
!symptoms_list_refined.pkl
