# API CONFIG
PROJECT_NAME="Pneumonia Multimodal AI Diagnosis Service"
API_V1_STR="/api/v1"

# MODEL SETTINGS
VISION_MODEL_PATH="app/models/vision/pneumonia_final_ultra.pth"
CLINICAL_MODEL_PATH="app/models/clinical/symptom_model_refined.pkl"
SYMPTOMS_LIST_PATH="app/models/clinical/symptoms_list_refined.pkl"

# LLM SETTINGS
LLM_MODEL_PATH="app/models/medical_ai_adapter/kaggle/working/medical_ai_lora_adapter"
LLM_BASE_MODEL="unsloth/qwen2.5-7b-instruct-unsloth-bnb-4bit"
ENABLE_LLM=True

# HARDWARE
DEVICE="cpu" # Use "cuda" if GPU is available

# VALIDATION
MAX_FILE_SIZE=5242880 # 5MB in bytes
LOG_LEVEL="INFO"
